@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
	font: 150%/1.4 Roboto, sans-serif;
}
/* STEP 3: Apply a background gradient image to the page (http://colorzilla.com/gradient-editor/) */
body {
	background: linear-gradient(to bottom,  #225baa 0%,#b7d1e5 25%);
}
#container {
	margin: 1rem;
}
/* STEP 4: CSS Image Replacement (https://css-tricks.com/the-image-replacement-museum/) */
header h1 {
	height: 160px;
	width: 250px;
	background: url("../images/silly-putty.png") no-repeat;
}

header h1 strong {
	visibility: hidden;
}
/* STEP 5: Add the 'Chewy' font from Google's Font Service and apply it to all H2 and H3 elements - add the @import to the top of the CSS file */
h2, h3 {
	font-family: Chewy;
}


/* TRANSFORMS
-------------------------------------------------- */
/* STEP 6: Control the origin of the transform (play with this in the dev tools in the browser using rotation */
#transforms h3:nth-of-type(2) {
	transform: rotate(30deg);
	display: inline-block;
	transform-origin: 50% 50%;
	outline: 2px dashed yellow;
}
/* STEP 7: Translate the element (X, Y, and combined) */
#transforms h3:nth-of-type(3) {
	display: inline-block;
	/* transform: translateX(100px);
	transform: translateY(-50px); */
	transform: translate(100px, -50px);
}
/* STEP 8: Scale the element (X, Y, and combined) */
#transforms h3:nth-of-type(4) {
	display: inline-block;
	outline: 2px dashed orange;
	transform: scaleX(2);
	transform: scaleY(3);
	transform: scale(2, 3);
	transform-origin: 0 100%;
}
/* STEP 9: Skew the element (X, Y, and combined) */
#transforms h3:nth-of-type(5) {
	display: inline-block;
	outline: 2px dashed red;
	transform-origin: right center;
	transform: skewX(-30deg);
	transform: skewY(45deg);
	transform: skew(-30deg, 45deg);
}

/* STEP 10: Rotate the element (X, Y, and Z) */
#transforms h3:nth-of-type(6) {
}

/* STEP 11: Combining transforms */
#transforms h3:nth-of-type(7) {
}

/* TRANSITIONS
-------------------------------------------------- */
/* STEP 12: Setting up a transition */
#transitions h3:nth-of-type(1) {
	/* Transition property */
	/* Transition duration */
}
#transitions h3:nth-of-type(1):hover {
}

/* STEP 13: Delaying a transition */
#transitions h3:nth-of-type(2) {
	/* Transition property */
	/* Transition duration */
	/* Transition delay */
}
#transitions h3:nth-of-type(2):hover {
}

/* STEP 14: Controlling transition velocity */
#transitions h3:nth-of-type(3) {
	/* Transition property */
	/* Transition duration */
	/* Transition timing function */
}
#transitions h3:nth-of-type(3):hover {
}

/* STEP 15: Combining Transitions */
#transitions h3:nth-of-type(4) {
}
#transitions h3:nth-of-type(4):hover {
}


/* ANIMATIONS
-------------------------------------------------- */

footer p {
}
